.choose
  padding-top: 193px
  margin-bottom: 112px
  &__wrap
    display: flex
    justify-content: space-between
    gap: 20px
  &__info
    max-width: 460px
    display: flex
    flex-direction: column
    gap: 36px
  &__title
    font-size: 48px
    color: #1C1C1E
    font-weight: 700
    line-height: 50px
  &__button
    width: max-content
    font-size: 16px
    color: #fff
    font-weight: 700
    line-height: 17.92px
    letter-spacing: 0.02em
    padding: 16px
    border: none
    border-radius: 16px
    background-color: #003CFF
    cursor: pointer
  &__cards
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 16px
  &__card
    max-width: 252px
    img
      width: 100%
      height: 100%

@media (max-width: 920px)
  .choose
    &__wrap
      flex-direction: column
    &__cards
      grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) )
    