.nav 
  position: fixed
  width: 100vw
  background-color: #F5F4FF
  top: 0
  padding: 7px 0
  &__burger
    display: none
  &__wrap
    display: flex
    justify-content: space-between
    align-items: center
  &__title
    a
      font-size: 24px
      color: #B4387A
      font-weight: 700
      line-height: 26.88px
      letter-spacing: 0.02em
  &__list
    display: flex
    gap: 40px
  &__link
    font-size: 16px
    color: #1D1929
    font-weight: 700
    line-height: 17.92px
    letter-spacing: 0.02em
  &__button
    font-size: 16px
    color: #fff
    font-weight: 700
    line-height: 17.92px
    letter-spacing: 0.02em
    padding: 16px
    border: none
    border-radius: 16px
    background-color: #003CFF
    cursor: pointer


@media (max-width: 920px)
  .nav
    &__wrap
      justify-content: start
      width: 100%
    &__list
      display: none
    &__button
      margin-left: auto
      margin-right: 20px
    &__burger
      display: block
      position: relative
      width: 30px
      height: 20px
      cursor: pointer
      span
        display: block
        width: 30px
        height: 2px
        background-color: #000
      &::before
        content: ''
        position: absolute
        width: 30px
        height: 2px
        bottom: 0
        background-color: #000
      &::after
        content: ''
        position: absolute
        width: 30px
        height: 2px
        top: 50%
        transform: translateY(-50%)
        background-color: #000
