@font-face
  font-family: ubuntu
  src: url(./fonts/ubuntu/Ubuntu-Regular.ttf)

@font-face
  font-family: rubik
  src: url(./fonts/rubik/Rubik-VariableFont_wght.ttf)
  
.main 
  font-family: ubuntu
  background-color: #F5F4FF
  